p {
       margin: 0;
       padding: 0;
}
.square {

  background-color: blue;
  width: 50px;
  height: 50px;
}

.imgContainer {
       margin-top: 25px;
}

img {
       width: 100%;
}

.planetsContainer {
       display: flex;
       flex-wrap: wrap;
       gap: 10px;}

.alienPlanetInfo{
       border: 2px solid black;
       border-radius: 10px;
       display: flex;
       align-items: center;
       justify-content: center;
       width: 150px;
       flex-direction: column;
       padding:  10px;
}

.nameStyle {
       margin-bottom: 5px;
       margin-top: 5px;
}