*{
       font-family: Arial, Helvetica, sans-serif;
}

body {
       background-image: url('/background.jpg');
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       height: 100vh;
       margin: 0;
       padding: 0;
}

h1 {
       text-align: center;
}

.monthYearContainer{
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
       margin: 0;
       font-size: 32px;
}

.mthContainer{
       display: flex;
       align-items: center;
       justify-content: space-between;
       margin: 0;
       height: 39px;
       width: 250px;
}

.yearContainer{
       display: flex;
       align-items: center;
       justify-content: space-between;
       margin: 0;
       height: 39px;
       width: 250px;
}

.daysContainer{
       display: flex;
       margin-top: 10px;
       border: 1px solid rgba(86, 86, 86, 0.426);
       box-shadow: 0 4px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
       border-radius: 5px;
       height: 300px;
       margin-bottom: 20px;
       background-color: rgba(255, 255, 255, 0.332);
}

.form {
       display: flex;
       flex-direction: column;
       align-items: center;
}

.entry {
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 10px;
       border: 2px outset #e3e3e3;
       padding: 6px 5px;
       background-color: rgba(255, 255, 255, 0.779);
}

input {
       display: flex;
       align-items: center;
       align-content: center;
       justify-content: center;
       border: none;
       width: 100%;
       white-space: pre-wrap;
       word-wrap: break-word;
       resize: vertical;
       font-size: 14px;
}



.submit {
       border: 1px outset #b3b2b2;
       box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.211), 1px 3px 1px 1px rgb(0 0 0 / 0.1);
       border-radius: 10px;
       height: 30px;
       padding: 1px 4px 1px 4px;
       width: 90px;
       margin-top: 10px;
       background-color: rgb(229, 201, 132);
       font-weight: 500;
}

/*     Day size
       width: 108px;
       height: 54px;
       text-size: 16px;
       background-color: light-gray;
       border-radius: 5px;
       border: 1px solid gray;
       */